<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>
<hr style="background: rgb(200,197,194); height: 1px; border: none;"/>
<center><h1>loading...</h1></center>
<pre>Next step: On condition that the Notes app runs normally, improving the function.</pre>