<h1>== Home ==</h1>

<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>
<pre>Next step: On condition that the Notes app runs normally, improving the function.</pre>

<embed src="http://cdn.abowman.com/widgets/hamster/hamster.swf" width="300" height="220"></embed>

<hr style="background: rgb(200,197,194); height: 1px; border: none;"/>
<footer>
  <div class="container">
    <center>Designed and built by Holy</center>
  </div>
</footer>